.banner-wrapper{
    background-color: white;

    aspect-ratio: 1/1;
    width: 100%;
    height: 100vh;
    display: flex;
}

.banner-video{
    z-index: 1;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

#bgvid {

    width: 100%;

    max-height: 100%;
    max-width: 100%;
    background: transparent url(media/video/landing_fallback.png) no-repeat;
}

@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
}

.banner-objects{
    z-index: 2;

    font-size:3vh;

    animation: fadeIn ease 5s;

    display: flex;
    width: 100%;
    max-height:100vh;
    align-self:stretch;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
}

.description-box{

    z-index: 1;
    align-self:flex-end;
    background-color: black;
    color: white;
    padding: 1%;

    text-justify:kashida;

    a:link {color:white;}
    a:visited {color:white;}
    a:hover {color:black; background-color: white;}
    a:active {color:black; background-color: white;}

    text-decoration: none;

}