html{ 
    background-color: black;
    color: white;
}
*, *::before, *::after{ box-sizing: inherit; }
body{
    margin: 0;
    padding: 0;
    
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.3;
    font-size:3vh;

    a:link {color:white;}
    a:visited {color:lightgray;}
    a:hover {color:black; background-color: white;}
    a:active {color:black; background-color: white;}
}
h1{ margin-top: 0; margin-bottom: 0; }
h2{ margin-top: 1px; margin-bottom: 0; }
h3{ margin-top: 3px; margin-bottom: 0; }
h4{ margin-top: 5px; margin-bottom: 0; }
.content-wrapper{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 16px;
    margin: 10%;
    .content{
        padding: 8px;

        border: white;
        border-radius: 10;
        border-style:solid;
        background-color:black;

        overflow:hidden;
    }
    .video{
        height: auto;
        max-width: 100%;
    }
    .return-to-top{
        a:visited {color:white;}
        text-align: center;
        text-decoration: none;
    }
}

.glitch-wrapper{    
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-repeat: repeat;

    .glitch{

        padding: 5vh;

        table, th{      
            td {
                img{
                    object-fit: cover;
                    width:20vh;
                    height:20vh;
                }
        
                background-image: url(/media/backgrounds/bus_seat.jpg);
        
                font-size:2vh;
        
                background-color: purple;
        
                border: 1px solid white;
                
                overflow: hidden;
                overflow-wrap:normal;
            }   
        }

        .list{
            width: 80vh;
            height: 50vh;   
            overflow-y: scroll;
            border: 1px solid white;
        }
        .list::-webkit-scrollbar {
            display: none;
        }

        #zero{
            background-image: url(/media/backgrounds/bus_seat.jpg);
        }
            
        #one{
            background-image: url(/media/backgrounds/chemical.jpg);
        }

        #two{
            background-image: url(/media/backgrounds/chemical.jpg);
        }
    }
}