html {
  background-color: black;
  color: white;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.3;
  font-size: 3vh;
}

body a:link {
  color: white;
}

body a:visited {
  color: lightgray;
}

body a:hover {
  color: black;
  background-color: white;
}

body a:active {
  color: black;
  background-color: white;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 1px;
  margin-bottom: 0;
}

h3 {
  margin-top: 3px;
  margin-bottom: 0;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.content-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 16px;
  margin: 10%;
}

.content-wrapper .content {
  padding: 8px;
  border: white;
  border-radius: 10;
  border-style: solid;
  background-color: black;
  overflow: hidden;
}

.content-wrapper .video {
  height: auto;
  max-width: 100%;
}

.content-wrapper .return-to-top {
  text-align: center;
  text-decoration: none;
}

.content-wrapper .return-to-top a:visited {
  color: white;
}

.dataloss-wrapper {
  background-color: aqua;
}

.banner-wrapper {
  background-color: black;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-video {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#bgvid {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background: black;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-objects {
  z-index: 2;
  font-size: 3vh;
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100vh;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: auto;
}

.description-box {
  z-index: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: black;
  color: white;
  padding: 1%;
  text-decoration: none;
}

.description-box a:link {
  color: white;
}

.description-box a:visited {
  color: white;
}

.description-box a:hover {
  color: black;
  background-color: white;
}

.description-box a:active {
  color: black;
  background-color: white;
}

.banner-overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner-titles {
  padding-left: 5%;
  padding-top: 1vh;
  -webkit-animation: glitch 5s linear infinite;
          animation: glitch 5s linear infinite;
}

@-webkit-keyframes glitch {
  0%, 4%, 5%, 9%, 15%, 21%, 33%, 36%, 81%, 83% {
    -webkit-transform: translate(0, 0) skew(0deg);
            transform: translate(0, 0) skew(0deg);
  }
  3%, 35% {
    -webkit-transform: translate(2px, 0) skew(0deg);
            transform: translate(2px, 0) skew(0deg);
  }
  8%, 2% {
    -webkit-transform: translate(-2px, 0) skew(0deg);
            transform: translate(-2px, 0) skew(0deg);
  }
  82% {
    -webkit-transform: translate(0, 0) skew(4deg);
            transform: translate(0, 0) skew(4deg);
  }
  20% {
    -webkit-transform: translate(0, 0) skew(-4deg);
            transform: translate(0, 0) skew(-4deg);
  }
}

@keyframes glitch {
  0%, 4%, 5%, 9%, 15%, 21%, 33%, 36%, 81%, 83% {
    -webkit-transform: translate(0, 0) skew(0deg);
            transform: translate(0, 0) skew(0deg);
  }
  3%, 35% {
    -webkit-transform: translate(2px, 0) skew(0deg);
            transform: translate(2px, 0) skew(0deg);
  }
  8%, 2% {
    -webkit-transform: translate(-2px, 0) skew(0deg);
            transform: translate(-2px, 0) skew(0deg);
  }
  82% {
    -webkit-transform: translate(0, 0) skew(4deg);
            transform: translate(0, 0) skew(4deg);
  }
  20% {
    -webkit-transform: translate(0, 0) skew(-4deg);
            transform: translate(0, 0) skew(-4deg);
  }
}

.umbra-title-text {
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
  line-height: 1;
  font-size: 2vh;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: white;
}

@font-face {
  font-family: Imafuafont;
  src: url(../media/fonts/Imafua-Regular.otf), url(../media/fonts/Imafua-Regular.ttf);
}

.imafua-title-text {
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
  font-size: 8vh;
  font-family: Imafuafont;
  color: white;
}

.music-player {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
}

.music-player canvas {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  z-index: 0;
  background-color: transparent;
}

.music-player .music-text {
  z-index: 1;
}

.music-player .music-desc {
  z-index: 1;
  min-height: 0;
}

.music-player .playlist {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: grid;
          flex-direction: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px;
}

.music-player .playlist a {
  margin: 4px;
  padding: 1px;
  border: white;
  border-radius: 10;
  border-style: solid;
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.music-player .playlist a:hover {
  background-color: white;
  color: black;
}

.music-player #is-play {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=style.css.map */